{{ define "main" }}
  <main id="main">
    <div class="container">
      <div class="row section featured topspace">
        <h2 class="section-title">
          <span>Coming events</span>
        </h2>
        {{ $counter := 0 }}
        {{ with .Data.Pages.ByWeight }}
          {{ range . }}
            {{ $type := .Params.type }}
            {{ if eq $type "current-news" }}
                {{ partial "news/news.html" . }}
                {{ $counter := add $counter 1 }}
            {{ end }}
          {{ end }}
        {{ end }}
        <!-- {{ if eq $counter 0 }}
          <br>
          <h4><i>There is no coming event for the moment </i></h4>
          <br>
          <br>
        {{ end }} -->
        <h2 class="section-title">
          <span>Past events</span>
        </h2>
        {{ with .Data.Pages.ByDate.Reverse }}
          {{ range . }}
          {{ $type := .Params.type }}
            {{ if eq $type "past-news" }}
              {{ partial "news/news.html" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}