<article>
  <header>
    <h3>{{ .Title }}</h3>
    <p class="lead">{{ .Date.Format "Jan 2, 2006" }}</p>
  </header>
  <section>
    <p class="lead">{{ .Params.abstract}}</p>
    {{ if .Params.externalLink }}
      <p style="font-size:18px;"><a href="{{ .Params.externalLink }}" target="_blank">Read more</a></p>
    {{ end }}
  </section>
  <footer class="lead">
    <p>Authors: 
      {{ range $index, $author := .Params.authors }}
        {{ if gt $index 0 }}, {{ end }}
        {{ if eq $author "Martin Miguel" }}
          <strong>{{ $author }}</strong>
        {{ else }}
          {{ $author }}
        {{ end }}
      {{ end }}
    </p>
    <p>Published in {{ .Params.journal }}</p>
  </footer>
</article>
