{{ define "main"}}
  <main id="main">

    <div class="container">

        {{ partial "home/subheader.html" . }}
        {{ partial "home/about.html" . }}
        {{ partial "home/background.html" . }}
      
        {{ range .Site.Sections }}
            {{ range .Sections.ByWeight }}
                {{ $stype := .Type}}
                {{ if eq $stype "project" }}

                     <div class="row section featured topspace">
                       <h2 class="section-title">
                         <span>{{.Title}}</span>
                       </h2>
					   
                     {{ if eq $stype "project" }}
                       {{ partial "home/projects.html" . }}
                     {{ end }}
                </div>	<!-- /section -->
              {{ end }}
            {{ end }}
        {{ end }}
    </div>	<!-- /container -->
  </main>

{{ end }}
